@page
@model Verein.Pages.TrainerBudget.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainerBudget</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerBudget.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainerBudget.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerBudget.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainerBudget.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerBudget.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainerBudget.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerBudget.Betrag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainerBudget.Betrag)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TrainerBudget.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
