@page
@model Verein.Pages.Arbeitseinsaetze.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Arbeitseinsatz</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArbeitsTaetigkeit.Titel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArbeitsTaetigkeit.Titel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArbeitsTaetigkeit.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArbeitsTaetigkeit.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArbeitsTaetigkeit.Taetigkeit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArbeitsTaetigkeit.Taetigkeit)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary mr-1" asp-page="./Edit" asp-route-id="@Model.ArbeitsTaetigkeit.Id">Editieren</a>
    <a class="btn btn-danger mr-1"asp-page="./Delete" asp-route-id="@Model.ArbeitsTaetigkeit.Id">Löschen</a>
    <a class="btn btn-secondary mr-1"asp-page="./Index">Zurück zur Liste</a>
</div>



<br />

<div class="row">
    <div class="col-auto ml-0 mr-auto">
        <h2>Teilnehmer</h2>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mitgliedVerknuepfenModal">
            Teilnehmer verknüpfen
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#mitgliedVerknuepfungAufhebenModal">
            Verknüpfung aufheben
        </button>
    </div>
</div>

<p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Helfer[0].Teilnehmer.MitgliedsNummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Helfer[0].Teilnehmer.Vorname) @Html.DisplayNameFor(model => model.Helfer[0].Teilnehmer.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Helfer[0].Teilnehmer.Typ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Helfer[0].Dauer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Helfer) {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Teilnehmer.MitgliedsNummer)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Teilnehmer.Vorname) @Html.DisplayFor(modelItem => item.Teilnehmer.Name)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Teilnehmer.Typ)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Dauer)
                </td>
                <td class="align-middle">
                    <a class="btn btn-primary float-right" asp-page="../Mitglieder/Details" asp-route-id="@item.Teilnehmer.Id">Details</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</p>


<!-- Mitglied verknüpfen Modal -->
<div class="modal fade" id="mitgliedVerknuepfenModal" tabindex="-1" role="dialog" aria-labelledby="mitgliedVerknuepfenModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="mitgliedVerknuepfenModalTitle">Teilnehmer verknüpfen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input id="modalInput" type="text" class="form-control" placeholder="Mitgliedsname" aria-label="Mitgliedsname" aria-describedby="modalSearch">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="modalSearch">Suchen</button>
                        </div>
                        <br />
                        <div class="stec-modal-wrapper-scroll-y stec-modal-scrollbar">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Mitglied</th>
                                        <th>Dauer</th>
                                        <th>Auswahl</th>
                                    </tr>
                                </thead>
                                <tbody id="modalTable">
                            @for (int i = 0; i < Model.LinkMitgliederModalObjects.Count(); i++)
                            {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => Model.LinkMitgliederModalObjects[i].Id)</td>
                                        <td>@Html.DisplayFor(modelItem => Model.LinkMitgliederModalObjects[i].Vorname) @Html.DisplayFor(modelItem => Model.LinkMitgliederModalObjects[i].Name)</td>
                                        <td>
                                            <input asp-for="LinkMitgliederModalObjects[i].Dauer" class="form-control" />
                                        </td>
                                        <td>
                                            @Html.HiddenFor(modelItem => Model.LinkMitgliederModalObjects[i].Id)
                                            @Html.CheckBoxFor(modelItem => Model.LinkMitgliederModalObjects[i].Selected)
                                        </td>
                                    </tr>
                            }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                    <button type="submit" class="btn btn-primary" asp-page-handler="MitgliedVerknuepfen" asp-route-id="@Model.ArbeitsTaetigkeit.Id">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Mitglied verknüpfung aufheben Modal -->
<div class="modal fade" id="mitgliedVerknuepfungAufhebenModal" tabindex="-1" role="dialog" aria-labelledby="mitgliedVerknuepfungAufhebenModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="mitgliedVerknuepfungAufhebenModalTitle">Verknüpfung mit Teilnehmer aufheben</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Mitgliedsname" aria-label="Mitgliedsname" aria-describedby="modalSearch2" id="modalInput2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="modalSearch2">Suchen</button>
                        </div>
                        <br />
                        <div class="stec-modal-wrapper-scroll-y stec-modal-scrollbar">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Mitglied</th>
                                        <th>Geburtsdatum</th>
                                        <th>Auswahl</th>
                                    </tr>
                                </thead>
                                <tbody id="modalTable2">
                            @for (int i = 0; i < Model.UnlinkMitgliederModalObjects.Count(); i++)
                            {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => Model.UnlinkMitgliederModalObjects[i].Id)</td>
                                        <td>@Html.DisplayFor(modelItem => Model.UnlinkMitgliederModalObjects[i].Vorname) @Html.DisplayFor(modelItem => Model.UnlinkMitgliederModalObjects[i].Name)</td>
                                        <td>@Html.DisplayFor(modelItem => Model.UnlinkMitgliederModalObjects[i].Geburtstag)</td>
                                        <td>
                                            @Html.HiddenFor(modelItem => Model.UnlinkMitgliederModalObjects[i].Id)
                                            @Html.CheckBoxFor(modelItem => Model.UnlinkMitgliederModalObjects[i].Selected)
                                        </td>
                                    </tr>
                            }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                    <button type="submit" class="btn btn-primary" asp-page-handler="MitgliedVerknuepfungAufheben" asp-route-id="@Model.ArbeitsTaetigkeit.Id">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>